[Unit]
Description=FastAPI Service for Telco Churn
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/telco/telco-churn-challenge
ExecStart=/home/ubuntu/telco/telco-churn-challenge/.venv/bin/uvicorn src.api.app:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
